# Naive Baye's Classification
* Each Independent variable shud be Normally distributed

In [24]:
import   numpy                       as  np
import   pandas                      as  pd

In [3]:
c_age=[8,5,6,4,3]
a_age=[27,30,32,24,23]
c_height=[60,70,54,67,75]
a_height=[160,172,180,156,166]
df=pd.DataFrame({'Child_Age':c_age,'Child height':c_height,'Adult age':a_age,'Adult height':a_height})
#exp=np.exp(-(x-mean)**2/(2*(sd**2)))
#p=1/(np.sqrt(2*np.pi)*sd)*exp

In [4]:
df.describe().transpose()

              count   mean       std    min    25%    50%    75%    max
Child_Age       5.0    5.2  1.923538    3.0    4.0    5.0    6.0    8.0
Child height    5.0   65.2  8.288546   54.0   60.0   67.0   70.0   75.0
Adult age       5.0   27.2  3.834058   23.0   24.0   27.0   30.0   32.0
Adult height    5.0  166.8  9.549869  156.0  160.0  166.0  172.0  180.0

In [11]:
# summary stats
m_ca=np.mean(c_age)
m_ch=np.mean(c_height)
s_ca=np.std(c_age)
s_ch=np.std(c_height)
print("Child Age:Mean %f and SD %f"%(m_ca,s_ca))
print("Child Height:Mean %f and SD %f"%(m_ch,s_ch))


m_Aa=np.mean(a_age)
m_Ah=np.mean(a_height)
s_Aa=np.std(a_age)
s_Ah=np.std(a_height)
print("Adult Age:Mean %f and SD %f"%(m_Aa,s_Aa))
print("Adult Height:Mean %f and SD %f"%(m_Ah,s_Ah))

Child Age:Mean 5.200000 and SD 1.720465
Child Height:Mean 65.200000 and SD 7.413501
Adult Age:Mean 27.200000 and SD 3.429286
Adult Height:Mean 166.800000 and SD 8.541663

In [22]:
def Propb(x,mean,sd):          
        exp=np.exp(-(x-mean)**2/(2*(sd**2)))
        p=1/(np.sqrt(2*np.pi)*sd)*exp  
        #print(p)
        return p

In [23]:
p1=Propb(35,m_ca,s_ca)* Propb(178,m_ch,s_ch)*0.5  # p(35/child) 
print(p1)
p2=Propb(35,m_Aa,s_Aa)* Propb(178,m_Ah,s_Ah)*0.5  # p(35/child) 
print(p2)

2.377154053095364e-118
8.655628103762673e-05